* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  position: absolute;
  top: 40%;
  grid-template-columns: repeat(3, 8fr);
  grid-template-rows: repeat(3, 8fr);
}
.grid-container .grid {
  display: grid;
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
}
